@page  "/Usuario/CadastrarUsuario"
@using System.Net.Http
@inject HttpClient Http
@inject NavigationManager NavigationManager

<div class="card m-3">
    <h4 class="card-header">Cadastro Usuario</h4>
    <div class="card-body">
        <EditForm Model="@Usuario" OnValidSubmit="HandleValidSubmit" @onreset="HandleReset">
            <DataAnnotationsValidator />

            <div class="form-row">

                <div class="form-group col">
                    <label>Email</label>
                    <InputText @bind-Value="Usuario.Email" class="form-control" />
                    <ValidationMessage For="@(() => Usuario.Email)" />
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col">
                    <label>Senha</label>
                    <InputText @bind-Value="Usuario.Senha" class="form-control" />
                    <ValidationMessage For="@(() => Usuario.Senha)" />
                </div>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary">Salvar</button>
                <button type="reset" class="btn btn-secondary">Cancel</button>
            </div>
        </EditForm>
    </div>
</div>

@code {

    private UsuarioDto Usuario = new UsuarioDto();

    private EditContext editContext { get; set; }
    private List<Petshop> petshopList = new List<Petshop>();


    public string Text { get; set; }


    private async Task HandleValidSubmit()
    {
        var teste = await Http.PostAsJsonAsync("/api/Usuarios", Usuario);
        NavigationManager.NavigateTo("/Usuario/List");

    }

    private void HandleReset()
    {
        Usuario = new UsuarioDto();
        editContext = new EditContext(Usuario);
    }

    protected override async Task OnInitializedAsync()
    {
        var petshop = await Http.GetFromJsonAsync<List<Petshop>>("/api/Petshops");
        foreach (var item in petshop)
        {
            petshopList.Add(item);
        }
    }


}
