@page  "/Cliente/CadastroFuncionario"
@using System.Net.Http
@inject HttpClient Http
@inject NavigationManager NavigationManager

<div class="card m-3">
    <h4 class="card-header">Cadastro Funcionario</h4>
    <div class="card-body">
        <EditForm Model="@Funcionarioteste" OnValidSubmit="HandleValidSubmit" @onreset="HandleReset">
            <DataAnnotationsValidator />

            <div class="form-row">
                <div class="form-group col">
                    <label>Nome</label>
                    <InputText @bind-Value="Funcionarioteste.Nome" class="form-control" />
                    <ValidationMessage For="@(() => Funcionarioteste.Nome)" />
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col">
                    <label>Numero de identificação</label>
                    <InputText @bind-Value="Funcionarioteste.Numeroidentificacao" class="form-control" />
                    <ValidationMessage For="@(() => Funcionarioteste.Numeroidentificacao)" />
                </div>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary mr-1">Salvar</button>
                <button type="reset" class="btn btn-secondary">Cancel</button>
            </div>
        </EditForm>
    </div>
</div>

@code { private Funcionario Funcionarioteste = new Funcionario();
    private EditContext editContext { get; set; }

    private async Task HandleValidSubmit()
    {
        var teste = await Http.PostAsJsonAsync("/api/Funcionarios", Funcionarioteste);
        NavigationManager.NavigateTo("/Funcionario/List");

    }

    private void HandleReset()
    {
        Funcionarioteste = new Funcionario();
        editContext = new EditContext(Funcionarioteste);
    }
    
    
    }
